

.whapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.whapper main { 
    width: 46rem;
}

.createTask {
    margin-top: -2rem;
}

.body {
    margin-top: 4rem;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.index {
    display: flex;
    justify-content: space-between;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0,875rem;
    
}

.totalTasks {
    color: var(--blue);
}

.concluideTasks {
    color: var(--purpleDark);
}

.totalTasks span {
    color: var(--blue);
}

.index span {
    background: var(--gray-400);
    padding: 2px 8px;
    border-radius: 999px;
    color: var(--gray-100);
}