
header {
    background: var(--gray-700);
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 5rem;
}

header img {
    width: 1.375rem;
    height: 2.25rem;
}

header p {
    font-size: 2.5rem;
    background: linear-gradient(to right, var(--blue) 45%, var(--purpleDark) 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

