.tarefa {
  display: flex;
  gap: 0.5rem;
}

.tarefa input {
  display: flex;
  width: 39.875rem;
  padding: 1rem;
  border-radius: 8px;
  background: var(--gray-500);
  color: var(--gray-100);
  border: none;
}

.tarefa input:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purpleDark);
}

.button {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background: var(--blueDark);
  color: var(--gray-100);
  border: none;
  gap: 0.5rem;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  transition: 0.2s;
}

.button:hover {
  background: var(--blue);
}
